site_name: opr-paas
site_url: https://belastingdienst.github.io/opr-paas/
site_author: Dutch Tax Office

# Repository
repo_name: opr-paas
repo_url: https://github.com/belastingdienst/opr-paas
edit_uri: edit/main/docs

theme:
  name: material
  language: en
  hljs_languages:
    - yaml
    - go
    - bash
  features:
    - content.action.edit
    - navigation.path
    - navigation.tracking
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.indexes
    - navigation.top
    - navigation.prune
    - search.suggest
    - search.share
    - toc.follow
copyright: >
  Copyright &copy; 2024 Tax Administration of The Netherlands, software and documentation licensed under EUPL.

extra:
  version:
    provider: mike

markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - toc:
      title: On this page
      permalink: true
      toc_depth: 3
  - tables
  - pymdownx.highlight:
      anchor_linenums: true
      auto_title: false
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tasklist:
      custom_checkbox: true

plugins:
  - search
  - social
  - tags
  - privacy
  - literate-nav:
      nav_file: README.md
      implicit_index: true
  - redirects:
      redirect_maps:
        'index.md': 'overview/index.md'

# Navigation
nav:
  - Overview: overview/
  - Administrator Guide: administrators-guide/
  - User Guide: user-guide/
  - Developer Guide: development-guide/
  - About:
    - Contributing: about/contributing.md
    - Code of Conduct: about/code-of-conduct.md
    - License: about/license.md