apiVersion: apps/v1
kind: Deployment
metadata:
  name: paas-controller-manager
  namespace: paas-system
  labels:
    control-plane: paas-controller-manager
    app.kubernetes.io/name: deployment
    app.kubernetes.io/instance: paas-controller-manager
    app.kubernetes.io/component: manager
    app.kubernetes.io/created-by: opr-paas
    app.kubernetes.io/part-of: opr-paas
    app.kubernetes.io/managed-by: kustomize
spec:
  selector:
    matchLabels:
      control-plane: paas-controller-manager
  replicas: 1
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: manager
      labels:
        control-plane: paas-controller-manager
    spec:
      containers:
        - command:
            - /manager
          args:
            - --leader-elect
          image: controller:latest
          imagePullPolicy: IfNotPresent
          name: manager
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - "ALL"
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8081
            initialDelaySeconds: 15
            periodSeconds: 20
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8081
            initialDelaySeconds: 5
            periodSeconds: 10
          resources:
            limits:
              cpu: 500m
              memory: 128Mi
            requests:
              cpu: 10m
              memory: 64Mi
          volumeMounts:
            - name: paas-config
              mountPath: /etc/paas
            - name: example-keys
              mountPath: /secrets/paas
      serviceAccountName: paas-controller-manager
      terminationGracePeriodSeconds: 10
      volumes:
        - name: paas-config
          configMap:
            name: config
            defaultMode: 420
        - name: example-keys
          secret:
            secretName: example-keys
            defaultMode: 420
