---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.18.0
  name: paasns.cpet.belastingdienst.nl
spec:
  group: cpet.belastingdienst.nl
  names:
    kind: PaasNS
    listKind: PaasNSList
    plural: paasns
    singular: paasns
  scope: Namespaced
  versions:
  - name: v1alpha2
    schema:
      openAPIV3Schema:
        description: PaasNS is the Schema for the PaasNS API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: PaasNSSpec defines the desired state of PaasNS
            properties:
              groups:
                description: |-
                  Keys of the groups, as defined in the related `paas`, which should get access to
                  the namespace created by this PaasNS. When not set, all groups as defined in the related
                  `paas` get access to the namespace created by this PaasNS.
                items:
                  type: string
                type: array
              paas:
                description: 'Deprecated: this has no function anymore and will be
                  deleted in the next version.'
                minLength: 1
                type: string
              secrets:
                additionalProperties:
                  type: string
                description: |-
                  Secrets which should exist in the namespace created through this PaasNS,
                  the values are the encrypted secrets through Crypt
                type: object
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
