name: Build and release OLM bundle & catalog

on:
  release:
    types: [published]
  workflow_dispatch:

permissions:
  contents: write
  packages: write

jobs:
  version:
    name: Normalize version
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.export.outputs.version }}
    steps:
      - name: Extract version (strip leading "v")
        id: export
        run: |
          CLEANED_VERSION="${GITHUB_REF_NAME#v}"
          echo "version=$CLEANED_VERSION" >> $GITHUB_OUTPUT

  bundle:
    name: Generate, validate, and publish OLM bundle
    runs-on: ubuntu-latest
    needs: version
    env:
      VERSION: ${{ needs.version.outputs.version }}

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25"
          cache: false

      - name: Install Build Dependencies
        run: |
          make operator-sdk
          make kustomize

      - name: Generate OLM bundle
        run: |
          make bundle VERSION=${VERSION} \
            CHANNELS=stable \
            DEFAULT_CHANNEL=stable

      - name: Validate OLM bundle
        run: make bundle-validate

      - name: Build & Push bundle image
        run: |
          make bundle-build VERSION=${VERSION}
          make bundle-push VERSION=${VERSION}

      - name: Upload bundle manifests to release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            bundle/metadata/annotations.yaml
            bundle/manifests/*

  catalog:
    name: Build & Push OLM Catalog
    runs-on: ubuntu-latest
    needs: bundle
    env:
      VERSION: ${{ needs.version.outputs.version }}

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Install Podman
        run: |
          sudo apt-get update
          sudo apt-get install -y podman

      - name: Install operator-sdk
        run: make operator-sdk

      - name: Login to GHCR
        run: |
          podman login ghcr.io \
            -u "${GITHUB_ACTOR}" \
            -p "${{ secrets.GITHUB_TOKEN }}"

      - name: Build catalog image
        run: make catalog-build VERSION=${VERSION}

      - name: Push catalog image
        run: make catalog-push VERSION=${VERSION}
