---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - leader_election_role.yaml
  - leader_election_role_binding.yaml
  - role.yaml
  - role_binding.yaml
  - service_account.yaml
# Uncomment the following lines if you want to add roles for end-users
# - paas_editor_role.yaml
# - paas_viewer_role.yaml
# - paasns_editor_role.yaml
# - paasns_viewer_role.yaml
# - paasconfig_editor_role.yaml
# - paasconfig_viewer_role.yaml