---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: paas-manager-role
rules:
- apiGroups:
  - argoproj.io
  resources:
  - applications
  - applicationsets
  - appprojects
  - argocds
  verbs:
  - create
  - delete
  - list
  - patch
  - update
  - watch
- apiGroups:
  - argoproj.io
  resources:
  - applicationsets
  verbs:
  - get
  - patch
- apiGroups:
  - ""
  resources:
  - configmaps
  - namespaces
  - secrets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - cpet.belastingdienst.nl
  resources:
  - paas
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - cpet.belastingdienst.nl
  resources:
  - paas/finalizers
  verbs:
  - update
- apiGroups:
  - cpet.belastingdienst.nl
  resources:
  - paas/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - cpet.belastingdienst.nl
  resources:
  - paasns
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - cpet.belastingdienst.nl
  resources:
  - paasns/finalizers
  verbs:
  - update
- apiGroups:
  - cpet.belastingdienst.nl
  resources:
  - paasns/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - quota.openshift.io
  resources:
  - clusterresourcequotas
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - clusterrolebindings
  - rolebindings
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - clusterroles
  verbs:
  - bind
- apiGroups:
  - user.openshift.io
  resources:
  - groups
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
